
body {
  background-color: #c3c7dc !important;
  color: #000000 !important;
}

/* -------------------------------- */

.object-fit-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.movie-card {
  width: 200px;
  height: 300px;
  background-color: #ffffff;
  color: white;
  border-radius: 6px;
}

.vote-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -295px;
  right: -150px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #090A0E;
  border: 1px solid whitesmoke;
}

.card-content {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -120px;
  padding: 5px;
  text-align: center;
  background-color: #88888871;
}

/* 
.card-content:hover {
  max-height: 100%;
  position: relative;
  top: -80px;
  padding: 5px;
  text-align: center;
  background-color: #d5d5d571;
  visibility: visible;
} */

.most-watching-box {
  width: 100%;
  min-height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0px;
  border-radius: 8px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 25%, rgba(54,54,130,1) 85%);
}

.most-watching-movie-desc {
  color: #ffffff;
}

.center-object {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}